{
  'presets': [
    ['env', {
      "targets": {
        "browsers": ["ie >= 11"]
      },
      "modules": false
    }],
    'stage-0',
    'react'
  ],
  'plugins': [
    'syntax-dynamic-import'
  ],
  'env': {
    'test': {
      'presets': [
        ['env', {
          'targets': {
            'browsers': ['ie >= 11']
          }
        }],
        'stage-0',
        'react'
      ],
      'plugins': [
        'syntax-dynamic-import'
      ]
    }
  }
}
