{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": ["last 2 versions", "not ie > 0"]
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-dynamic-import"
  ]
}
