.fullsize {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.parent {
    @extend .fullsize;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


@media only screen and (max-width: 40em) {
    .parent {
        justify-content: flex-start;
    }
}

.container {
    align-self: flex-start;
    width: 900px;
    padding: 15px;
    border: 1px solid #BEC1C5;
    margin-left: 5px;
    margin-right: 5px;
    text-align: left;
    p {
        font-size: 1em;
        line-height: 1.286em;
    }
}

h1, h2, h3, h4, h5, p {
    font-family: -webkit-pictograph;
}

