@import "common.scss";

.btn {
    width: 30%;
    height: 0;
    padding-bottom: 30%;
    border-radius: 50%;
    border: 1px solid #BEC1C5;
    overflow: hidden;
    background: white;
    box-shadow: 0 0 3px gray;
    cursor: pointer;
    float: left;
    margin-right: 8px;
    &:hover {
        background: #f5f5f5;
    }
    &:active {
        i {
            color: #ddd;
        }
    }
    i {
        display: block;
        width: 100%;
        padding: 24%;
        height: auto;
        font-size: 50px;
        color: #7d7d7d;
    }
}

.disabled {
    cursor: default;
    border: 1px solid #ddd;
    box-shadow: none;
    i {
        color: #ddd;
    }
    &:hover {
        background: white;
    }
    &:active {
        i {
            color: #ddd;
        }
    }
}

.buttons {
    display: block;
    width: 300px;
    margin: 0 auto;
}

.container {
    margin-top: 150px;
    box-shadow: 5px 5px 10px gray;
}
