@import "common.scss";

.parent {
    width: 100%;
    max-width: 660px;
    margin: 150px auto;
}

.container {
    margin-bottom: 20px;
}

.link {
    text-decoration: none;
}

.peek {
    width: auto;
    max-width: 600px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    color: black;
    font-size: 1.286em;
    line-height: 1.989em;
    letter-spacing: 0.005em;
}

.title {
    color: black;
    font-size: 31px;
    font-weight: bold;
    font-family: -webkit-pictograph;
    line-height: 34.72px;
    letter-spacing: -0.682px;
}

.readmore {
    color: rgba(0, 0, 0, .3);
    font-size: 12px;
    line-height: 16.8px;
    &:hover {
        color: rgba(0, 0, 0, .8);
    }
}

@media only screen and (max-width: 40em) {
    .peek {
        max-width: 270px;
    }
}


